h1{
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 500;
    height: 38.8889px;
    line-height: 39.6px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    text-size-adjust: 100%;
    width: 634.444px;
    -webkit-margin-after: 10px;
    -webkit-margin-before: 20px;
    -webkit-margin-end: 0px;
    -webkit-margin-start: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
table {
    width: 90%;
    max-width: 100%;
   background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 0.989583px;
    border-collapse: collapse;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 0.989583px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 0.989583px;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 0.989583px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: table;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 228.889px;
    line-height: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    text-size-adjust: 100%;
    width: 970px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); margin-bottom: 30px;
}
.a{
background-color : 
#FAFAFA ;}
.b{ background-color: rgb(67, 138, 200);
    background-image: none;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 0.989583px;
    border-collapse: collapse;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 0.989583px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 0.989583px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 0.989583px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 32.8472px;
    line-height: 20px;
    margin-bottom: 0px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-size-adjust: 100%;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 145.069px;
    -webkit-border-horizontal-spacing: 0px;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

.c{background-color: rgb(90, 192, 93);
    background-image: none;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-style: solid;
    border-bottom-width: 0.989583px;
    border-collapse: collapse;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 0.989583px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 0.989583px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 0.989583px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    float: right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 32.8472px;
    line-height: 20px;
    margin-bottom: 0px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    text-align: center;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-style: solid;
    text-size-adjust: 100%;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    width: 85.1215px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}